*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/* Styling for container */
.container{
    background-color: aliceblue;
    width: 440px;
    height:fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
}

.heading{
   display: flex; 
   flex-direction: row;
   color: rgb(240, 93, 166);

 } 
 .heading:before, 
        .heading:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid #c5c0c0; 
            margin: auto; 
        } 
.content{
height: fit-content;
padding:16px;
border: 1px solid grey;
margin-bottom: 16px;
display: flex;
flex-direction: column;
 } 
 .Radionbtn{
    /* color: black; */
    font-size: 30px;
 }  
 .left-content{
    height: inherit;
 }
.counts{
    margin: 4px;
    padding-left: 4px;
}
.offer{
    padding: 2px;
    background-color: rgb(240, 93, 166);
    color: white;
}
.text{
    margin: 0px;
    padding-left: 4px;
}
.rightContent{
    position: absolute;
    right: 25px;
    height: fit-content;

}
.OfferPrice{
    margin: 4px;
}
.price{
    margin: 0;
    text-decoration: line-through;
    color: #c5c0c0;
}
/* Size and Color */
.sizeContainer{
    padding-left: 30px;
    margin: 0px;
}
.show-top-content{
    display: flex;
     flex-direction: row;
 }
 
 .selectContent{
    margin-left:8px;
   margin-top: 20px;
 }
 .unit-selector{
    font-size: 16px;
    padding: 2px 8px 2px 8px;
  margin-bottom: 4px;

 }
 .bottom-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;

 }
 .header{
    margin-bottom: 4px;
    text-align: center;
 }
 .header-color{
    margin-bottom: 4px;

 }
 .show-bottom{
    display: none;
 }
 
 /* Bottom option */
 .delivery-option{
    display: flex;
    flex-direction: row;
    font-size: 18px;

 }
 .Delivery{
    color: rgb(240, 93, 166); 
    float: left;
 }
 .Price{
    position: absolute;
    right: 12px;

 }
 /* Add button */
 .AddButton{
    width: 100%;
    background-color: rgb(240, 93, 166);
    color: white;
    padding: 8px;
 border-radius: 4px;   
 text-align: center; 
 border: none;
 font-size: 18px;
 }
 .copy-right{
   
    float: right;
    color: rgb(167, 158, 158);
 }
 .show {display:block;}