*{
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/* Styling for container */
.container{
    background-color: #fff9fa;
    width: 440px;
    height:fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

.heading{
   display: flex; 
   flex-direction: row;
   color:#ff7389;

 } 
 .heading:before, 
        .heading:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid #cbcbcb; 
            margin: auto; 
        } 
.content{
height: fit-content;
padding:24px;
border: 1px solid #cbcbcb;
margin-bottom: 16px;
display: flex;
flex-direction: column;
 } 
 .radionbtn{
    /* color: black; */
    font-size: 30px;
 }  
 .left-content{
    height: inherit;
 }
.counts{
    margin: 4px;
    padding-left: 4px;
}
.offer{
    font-size: 12px;
    padding: 4px 8px 4px 8px ;
    background-color: #ff7389;
    color: white;
}
.text{
    margin: 0px;
    padding-left: 4px;
}
.right-content{
    position: absolute;
    right: 25px;
    height: fit-content;

}
.offer-price{
    margin: 4px;
}
.price-tag{
    margin: 0;
    text-decoration: line-through;
    color: rgb(167, 158, 158);
}
/* Size and Color */

.show-top-content{
    display: flex;
     flex-direction: row;
 }
 
 .select-content{
    margin-left:8px;
   margin-top: 20px;
 }
 .unit-selector{
    font-size: 16px;
    padding: 2px 8px 2px 8px;
  margin-bottom: 4px;

 }
 .bottom-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;

 }
 .header{
    margin-bottom: 4px;
    text-align: center;
 }
 .header-color{
    margin-bottom: 4px;

 }
 .show-bottom{
    display: none;
 }
 
 /* Bottom option */
 .delivery-option{
    display: flex;
    flex-direction: row;
    font-size: 18px;

 }
 .delivery{
    color:  #ff7389; 
    float: left;
 }
 .price{
    position: absolute;
    right: 12px;

 }
 /* Add button */
 .add-button{
    width: 100%;
    background-color:  #ff7389;
    color: white;
    padding: 8px;
 border-radius: 4px;   
 text-align: center; 
 border: none;
 font-size: 18px;
 }
 .copy-right{
   margin: 0;
   padding-top: 8px;
    float: right;
    color: rgb(167, 158, 158);
 }
 .show {display:block;}
 .show-selected-border{
    border: 2px solid #ff7389;
 }